@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.accountPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.accContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}